In [1]:
import sys
import os

PROJECT_ROOT = os.path.abspath("..")
if PROJECT_ROOT not in sys.path:
    sys.path.insert(0, PROJECT_ROOT)

In [2]:
import sys
import os

sys.path.append(os.path.abspath(".."))


from src.data_loader import load_data
from src.baseline_models import popularity_recommender

data = load_data()

top_movies = popularity_recommender(data, top_k=5)
top_movies

,title,mean_rating,rating_count
7593,"Shawshank Redemption, The (1994)",4.429022,317
3499,"Godfather, The (1972)",4.289062,192
3011,Fight Club (1999),4.272936,218
1961,Cool Hand Luke (1967),4.271930,57
2531,Dr. Strangelove or: How I Learned to Stop Worr...,4.268041,97

In [3]:
from src.baseline_models import user_based_cf

sample_user = data["userId"].iloc[0]

user_recs = user_based_cf(data, user_id=sample_user, top_k=5)
user_recs

   movieId      score                              title
0      589  30.792875  Terminator 2: Judgment Day (1991)
1     1200  29.721471                      Aliens (1986)
2     2762  28.293148            Sixth Sense, The (1999)
3     1968  27.984740         Breakfast Club, The (1985)
4     1387  27.960432                        Jaws (1975)

In [ ]:
from src.adaptive_engine import adaptive_recommend
from src.baseline_models import popularity_recommender, user_based_cf

user_id = data["userId"].iloc[0]

pop_recs = popularity_recommender(data, top_k=10)
cf_recs = user_based_cf(data, user_id=user_id, top_k=10)

final_recs, weights = adaptive_recommend(
    data,
    user_id,
    pop_recs,
    cf_recs,
    explainability_bias=0.7
)

final_recs, weights